pipeline/pipeline15.json
{
	"name": "pipeline15",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select top 1 ID from iftable_output order by trxndate desc",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dynamic_tbl",
						"type": "DatasetReference",
						"parameters": {
							"tbl_name": "iftable_output"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "max_id",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.id",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"max_id": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-17T05:05:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}